<div class="container">
  <div class="alert alert-primary" role="alert">
    Despesa: <strong>{{descricao}}</strong>
    valor <strong>{{valor}}</strong> reais.
  </div>

  <h3>Cadastro de despesas</h3>
  <div class="container">
      <div class="form-group">
        <label for="descricao-id">Descrição</label>
        <input type="text" class="form-control" id="descricao-id"
          placeholder="Digite a descrição" [(ngModel)]="descricao">
      </div>
      <div class="form-group">
        <label for="valor">Valor</label>
        <input type="text" class="form-control" id="valor" placeholder="Digite o valor" #valorInput>
      </div>

      <button type="button" class="btn btn-primary" (click)="cadastrarDespesa(valorInput.value)"
        [disabled]="descricao.length == 0">
        Cadastrar
      </button>
  </div>
</div>
